body {
    background-color: rgb(15, 24, 36);
    font-family: Arial, sans-serif;
    color: whitesmoke;
    margin: 10px;
    padding: 0;
    box-sizing: border-box;
    min-height: 100vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 0,5fr 1fr 1fr 1fr;
    grid-gap: 20px;
    grid-template-areas:
    "dc us btn"
    ". . ."
    ". . ."
    ". . ."
    ;
}
.product-card {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: rgba(64, 90, 92, 0.5);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5);
}
.carrito-btn {
    width: 220px;
    height: 60px;
    border: none;
    border-radius: 15px;
    align-self: center;
    justify-self: center;
    grid-area: btn;
    font-size: xx-large;
    font-weight: bold;
}
.dolar-card {
    grid-area: dc;
}
.saludo{
    grid-area: us;
    font-weight: bold;
}
.sesion-btn {
    border: none;
    border-radius: 5px;
}
button {
    cursor: pointer;
    border: none;
    box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    align-self: center;
    font-size: medium;
    width: 220px;
}