body {
    background-color: rgb(31, 14, 68);
    font-family: Arial, sans-serif;
    color: whitesmoke;
    margin: 10px;
    padding: 0;
    box-sizing: border-box;
    min-height: 100vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 20px;
    grid-template-areas: 
    "11 12 13"
    "21 22 23"
    "31 32 33"
    "41 btn 43"
    ;
}
.product-card {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: rgba(64, 90, 92, 0.5);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5);
}
.carrito-btn {
    width: 200px;
    height: 90px;
    border-radius: 15px;
    align-self: center;
    justify-self: center;
    grid-area: btn;
    font-size: xx-large;
    font-weight: bold;
}